<mat-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
        <form [formGroup]="firstFormGroup" autocomplete="off">
            <ng-template matStepLabel>Crear producto</ng-template>
            <div class="centered-card-container">
                <mat-card class="centered-card">
                    <mat-card-header>
                        <mat-card-title>Crear producto</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-form-field class="full-width-field">
                            <mat-label>Nombre del producto</mat-label>
                            <input matInput formControlName="name" placeholder="Introduce el nombre del producto"
                                required>
                            <mat-error>Campo obligatorio</mat-error>
                        </mat-form-field>
                        <mat-form-field class="full-width-field" (selectionChange)="onCategoryChange($event)">
                            <mat-label>Seleccione una categoría</mat-label>
                            <mat-select formControlName="categories">
                                <mat-option *ngFor="let category of categories" [value]="category.id">{{
                                    category.name}}</mat-option>
                            </mat-select>
                            <mat-error>Campo obligatorio</mat-error>
                        </mat-form-field>
                        <mat-form-field class="full-width-field" *ngIf="selectedSubCategories.length > 0">
                            <mat-label>Seleccione una subcategoría</mat-label>
                            <mat-select formControlName="subCategories">
                                <mat-option *ngFor="let subcategory of selectedSubCategories" [value]="subcategory.id">
                                    {{ subcategory.name }}
                                </mat-option>
                            </mat-select>
                            <mat-error>Campo obligatorio</mat-error>
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="primary" class="primary-button"
                            matStepperNext>Siguiente</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" >
        <form [formGroup]="secondFormGroup" autocomplete="off">
            <ng-template matStepLabel>Crear materia prima</ng-template>
            <div class="centered-card-container">
                <mat-card class="centered-card">
                    <mat-card-header>
                        <mat-card-title>Materia prima</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Nombre de la materia prima</mat-label>
                            <input matInput formControlName="name" placeholder="Introduce el nombre de la materia prima"
                                required>
                            <mat-error
                                *ngIf="secondFormGroup.get('name').hasError('required') && secondFormGroup.get('name').touched">
                                Campo obligatorio
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Cantidad utilizada</mat-label>
                            <input matInput formControlName="quantity" placeholder="Introduce la cantidad utilizada"
                                type="number" required>
                            <mat-error
                                *ngIf="secondFormGroup.get('quantity').hasError('required') && secondFormGroup.get('quantity').touched">
                                Campo obligatorio
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Unidad de medida</mat-label>
                            <mat-select formControlName="unit" placeholder="Selecciona una medida" required>
                                <mat-option *ngFor="let measure of measures"
                                    [value]="measure.id">{{measure.name}}</mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="secondFormGroup.get('unit').hasError('required') && secondFormGroup.get('unit').touched">
                                Campo obligatorio
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Costo por unidad</mat-label>
                            <input matInput formControlName="unitCost" type="number"
                                placeholder="Introduce el costo por unidad" required>
                            <mat-error
                                *ngIf="secondFormGroup.get('unitCost').hasError('required') && secondFormGroup.get('unitCost').touched">
                                Campo obligatorio
                            </mat-error>
                        </mat-form-field>
                        <div>
                            <button mat-flat-button class="full-width" [disabled]="secondFormGroup.invalidate"
                                (click)="addMateriaPrima()"><mat-icon>add</mat-icon> Agregar materia
                                prima</button>
                        </div>
                        <div *ngIf="materiasPrimas.length > 0" class="product-list">
                            <mat-card *ngFor="let materiaPrima of materiasPrimas; let i = index" class="product-item">
                                <mat-card-header>
                                    <div mat-card-avatar class="product-avatar">
                                        <img src="./icons/grocery.png" alt="icon" class="product-icon">
                                    </div>
                                    <mat-card-title>{{ materiaPrima.name }}</mat-card-title>
                                    <mat-card-subtitle>{{ materiaPrima.quantity }} {{ getMeasureName(materiaPrima.unit)
                                        }} - {{
                                        materiaPrima.unitCost | currency }}</mat-card-subtitle>
                                    <button mat-icon-button color="warn" (click)="removeMateriaPrima(i)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-card-header>
                            </mat-card>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button matStepperPrevious class="secondary-button">Anterior</button>
                        <button mat-raised-button matStepperNext color="primary"
                            class="primary-button">Siguiente</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" [editable]="isEditable">
        <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Crear mano de obra</ng-template>
            <div class="centered-card-container">
                <mat-card class="centered-card">
                    <mat-card-header>
                        <mat-card-title>Mano de obra</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Tipo de mano de obra</mat-label>
                            <input matInput formControlName="type" placeholder="Ingresa el tipo de mano de obra" required>
                            <mat-error>Campo obligatorio</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Cantidad de horas/Empleado</mat-label>
                            <input matInput formControlName="quantity" placeholder="Ingresa la cantidad de horas/empleado"
                                type="number" required>
                            <mat-error>Campo obligatorio</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Costo por hora/Empleado</mat-label>
                            <input matInput formControlName="hourlyCost" placeholder="Ingresa el costo por hora/empleado" type="number" required>
                            <mat-error>Campo obligatorio</mat-error>
                        </mat-form-field>
                        <div>
                            <button mat-flat-button class="full-width" [disabled]="secondFormGroup.invalidate"
                                (click)="addManoDeObra()"><mat-icon>add</mat-icon> Agregar mano
                                de obra</button>
                        </div>
                        <div *ngIf="manoDeObra.length > 0" class="product-list">
                            <mat-card *ngFor="let manoObra of manoDeObra; let i = index" class="product-item">
                                <mat-card-header>
                                    <div mat-card-avatar class="product-avatar">
                                        <img src="./icons/settings_accessibility.png" alt="icon" class="product-icon">
                                    </div>
                                    <mat-card-title>{{ manoObra.type }}</mat-card-title>
                                    <mat-card-subtitle>{{ manoObra.quantity }} Hora(s) - {{
                                        manoObra.hourlyCost | currency }}</mat-card-subtitle>
                                    <button mat-icon-button color="warn" (click)="removeManoDeObra(i)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-card-header>
                            </mat-card>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button matStepperPrevious class="secondary-button">Anterior</button>
                        <button mat-raised-button matStepperNext color="primary"
                            class="primary-button">Siguiente</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="fourthFormGroup" [editable]="isEditable">
        <form [formGroup]="fourthFormGroup" autocomplete="off">
            <ng-template matStepLabel>Crear costos indirectos</ng-template>
            
            <div>
                <button mat-button matStepperPrevious>Anterior</button>
                <button mat-button matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Resultados</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Anterior</button>
            <button mat-button (click)="stepper.reset()">Reiniciar</button>
        </div>
    </mat-step>
</mat-stepper>